import("coda", "rjags")

importFrom("plyr", ".", "ddply", "summarize")
importFrom("Hmisc", "rcorr.cens")
importFrom("magrittr", "%>%")
importFrom("mvtnorm", "rmvnorm")


exportPattern("^[[:alpha:]]+")
