import("coda", "ggplot2", "methods", "rjags", "R6")

importFrom("graphics", "plot")
importFrom("Hmisc", "rcorr.cens")
importFrom("magrittr", "%>%")
importFrom("mvtnorm", "rmvnorm")
importFrom("plyr", ".", "ddply", "summarize")


export(
  "qibm"
)

exportClasses(
  "qibm",
  "qibmGOF",
  "qibmLRM",
  "qibmSample",
  "qibmTransform"
)

exportMethods(
  "plot",
  "summarize",
  "transform",
  "Bias",
  "CIndex",
  "Cor",
  "GOF",
  "ICC",
  "RC",
  "RDC",
  "wCV",
  "LRM"
)
